{% extends "base.html" %}
{% load static %}

<style>
   .bg-form{
      background-color: #FAF0E6;
   }
</style>
{% block navi%}
   <div class=" fixed z-10 container max-w-full bg-yellow-900">
      <div class="flex m-3 flex-row relative items-center gap-10">
         <div>
            <img src="{% static 'images/loguniv.png' %}" alt="logo université" class="w-14">
         </div>
         <div class="text-white hover:scale-105">
            <a href="#" class="hover:ring-2 ring-offset-1">Acceuil</a>
         </div>
         <div class="text-white m-4 hover:scale-105">
            <a href="#" class="hover:ring-2 ring-offset-1">A propos de nous</a>
         </div>
         <div class="text-white absolute right-25 m-4 hover:scale-105">
            <a href="{% url 'register' %}" class="hover:ring-2 ring-offset-1">S'inscrire</a>
         </div>
      </div>
   </div>
{% endblock navi %}
{% block wellog %}
   <h1 class="text-black-500 text-[50px] font-black text-center translate-y-[90px]"> Bienvenue</h1>
   <h2 class="text-black-500 text-[20px] font-light text-center translate-y-[110px]"> Platforme de gestion de requêtes</h2>
{% endblock wellog %}

{% block login %}

<div class="min-h-screen flex items-center justify-center">

   <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md opacity-100">
      <h1 class="text-2xl font-bold mb-4 text-center text-orange-400">Connexion</h1>
      
      {% if error %}
            <div class="text-red-500 mb-2">{{ error }}</div>
      {% endif %}
      <form method="post">
         {% csrf_token %}
         <label for="username" class="block font-extralight">nom utilisateur</label>
         <input type="text" name="username" placeholder="votre nom utilisateur" class="w-full border p-2 rounded mb-3 focus:outline-none focus:ring-2 focus:ring-orange-500">
         <br>
         <label for="password" class="block font-extralight">mot de passe</label>
         <input type="password" name="password" placeholder="votre mot de passe" class="w-full border p-2 rounded mb-3 focus:outline-none focus:ring-2 focus:ring-orange-500">
         <br>
         <div class="text-center">
            <button class=" inline-flex justify-center bg-orange-500 text-white py-2 px-4 rounded hover:bg-orange-800" type="submit">Connexion</button>
         </div>
         <div class="text-center">
            <p class="mt-2 text-sm">Pas de compte ? <a href="{% url 'register' %}" class="text-blue-600 underline">Créer un compte</a></p>
         </div>
      </form>
         
   </div>
</div>

{% endblock %}